# General
streamlit
pandas
openpyxl
PyMuPDF  # fitz
PyPDF2
google-generativeai
python-dotenv
requests
numpy
httpx

# Web Framework
fastapi
uvicorn
gunicorn
python-multipart

# Database
sqlalchemy
psycopg2-binary
pymongo[srv]

# Authentication & Security
bcrypt
python-jose[cryptography]
passlib[bcrypt]
sendgrid
email-validator
certifi
redis
